.upload-container {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
}

.upload-sub-container {
	width: 500px;
	height: 100px;
	background: rgba(10, 0, 0, 0.3);
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
