.profiles-container {
	max-width: 700px;
	height: auto;
	margin: auto;
	color: white;
	text-align: center;
	/*	border: 1px solid white;*/
	margin-top: 20px;
}

.profiles-info-container {
	width: 95%;
	max-height: 150px;
	/*	background: rgba(0, 0, 110, 0.7);*/
	background: #1e3e62;
	border-radius: 20px;
	border: 1px solid white;
	margin: auto;
	color: white;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*	padding: 5px;*/
	font-size: 1.5rem;
	word-break: break-word;
	/*	box-shadow: 6px 15px 40px 0.4px black;*/
}

#admin-navigate-link {
	text-decoration: none;
}

.profile-main-img-container {
	max-width: 100px;
	/*	height: auto;*/
	max-height: 80px;
	border-radius: 50px;
	border: 1px solid white;
}

/*@media screen and (max-width: 506px) {
	.profiles-container {
		max-width: 300px;
	}
	.profiles-info-container {
		max-width: 300px;
		font-size: 0.8rem;
	}
}*/

@media screen and (max-width: 388px) {
	.profiles-container {
		max-width: 400px;
		height: auto;
		/*		border: 1px solid white;*/
	}
	.profiles-info-container {
		max-width: 300px;
		height: 220px;
		font-size: 0.8rem;
		border: 1px solid white;
	}
}

.profile-main-img-container {
	width: 80px;
	height: 200px;
}

@media screen and (max-width: 270px) {
	.profiles-container {
		max-width: 300px;
	}

	.profiles-info-container {
		max-width: 100%;
		height: 120px;
		font-size: 0.7rem;
		border: 1px solid white;
	}

	.profile-main-img-container {
		width: 80px;
		height: auto;
		max-height: 80px;
	}
}
