.post-skill-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
}

.post-skill-sub-container {
	width: 600px;
	height: 300px;
	background-color: rgba(0, 0, 30, 1);
	margin-top: 50px;
	text-align: center;
	border-radius: 20px;
}

.post-skill-sub-container > input {
	width: 200px;
	height: 30px;
	border-radius: 10px;
	font-size: 1.2rem;
}

.post-skill-sub-container > button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	margin-left: 5px;
	font-size: 1.3rem;
}
