.links-parent-container {
	width: 100%;
	height: auto;
	/*	border: 1px solid yellow;*/
	margin: auto;
}

.links {
	display: inline-block;
	text-decoration: none;
	color: white;
}

.links-child-container {
	display: flex;
	/*	flex-direction: column;*/
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	background: #fcf5ed;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.links-child-container > li > a {
	text-align: center;
}

.links-child-container > li {
	list-style-type: none;
	padding: 4px;
}

.links-child-container > li:hover {
	background: blue;
}

.links-child-container > li:focus {
	background: black;
	outline: none;
}

/*.links-container > li:active {
	background: red;
}
*/

.link-icons {
	width: 2rem;
	height: 1.4rem;
}
