.editpost-container {
	width: 200px;
	height: auto;
	border: 1px solid black;
	border-radius: 10px;
	position: fixed;
	top: 100px;
	background: white;
	color: black;
	right: 10px;
}

.editPostedImages {
	width: 40px;
	height: 40px;
}

.editpost-popup-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#cancel-img-edit {
	margin: auto;
}

.edit-img-cancel-link {
	text-decoration: none;
}

.editpost-sub-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
}
