/*.profile-info-edit-container {
	width: 50%;
	max-width: 500px;
	height: 400px;
	position: fixed;
	top: 10px;
	z-index: 100;
	background-color: blue;
	color: white;
	padding: 10px;
}*/
.profile-info-edit-container {
	width: 90%;
	max-width: 500px;
	height: 300px;
	background-color: blue;
	color: white;
	padding: 20px;
	position: fixed;
	top: 10px;
	/*	left: 50%;*/
	/*	transform: translateX(-50%);*/
	z-index: 100;
	margin-left: 20px;
}

.input-form {
	max-width: 90%;
	height: 20px;
}
