.about-edit-main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-edit-container {
	max-width: 500px;
	height: 200px;
	background-color: rgba(0, 100, 200, 1);
	border-radius: 10px;
	color: white;
	position: absolute;
	top: 600px;
	padding: 10px;
	text-align: center;
}

.about-edit-container > button {
	width: 20%;
	height: 30px;
	border-radius: 5px;
}

.textarea {
	width: 90%;
	height: 80%;
	color: white;
	font-size: 2rem;
	background-color: rgba(0, 20, 50, 1);
}

#about-loading-header {
	position: absolute;
	top: 620px;
}
