.aboutSection {
	display: flex;
	flex-direction: column;
}

.about-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #092635;
	padding: 5px;
	margin-top: 10px;
	border-radius: 10px;
}

.about-container > Link {
	cursor: pointer;
}
