.profile-info-edit-container {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	height: 100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}

.edit-sub-container {
	max-width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 50px;
	background-color: #31363f;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

label {
	display: block;
	width: 100px;
}

.input-form {
	max-width: 250px;
	height: 30px;
	margin: 5px;
}

.redirect-btn-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#redirect-root-btn {
	width: 80px;
	height: 30px;
	font-size: 1.3rem;
	border-radius: 10px;
	border: none;
}

#submit-btn {
	max-width: 100px;
	height: 30px;
	border-radius: 5px;
	border: none;
	margin: 5px;
}
