.usercard-container {
	max-width: 500px;
	height: auto;
	border: 1px solid white;
	margin: auto;
	color: white;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}