#profile-info-container {
	max-width: 400px;
	height: auto;
	text-align: center;
	font-size: 1.5rem;
	color: white;
	word-break: break-word;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
