.skills-container {
	height: 200px;
	overflow: auto;
	margin-top: 20px;
}
.skill-sub-container {
	width: 100%;
	height: auto;
	overflow: auto;
	margin: auto;
	/*	background-color: #3e64ff;*/
	background-color: slateblue;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.skill-links {
	color: white;
	background-color: #257180;
	margin: 50px;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
}
