.admin-container {
	max-width: 600px;
	height: 100vh;
	margin: auto;
	display: flex;
	/*	border: 10px solid red;*/
}

.admin-sub-container {
	width: 100%;
	height: auto;
	background: dimgrey;
	border: 1px solid black;
	padding: 5px;
}

.editpencil {
	width: 20px;
	height: 20px;
}

.add-button {
	width: 30px;
	height: 30px;
}

.edit {
	display: flex;
	justify-content: space-between;
}

.showinfo {
	display: flex;
	justify-content: center;
}

.editProfilePhoto {
	display: flex;
	justify-content: flex-end;
}

.editInfo {
	display: flex;
	justify-content: flex-end;
}

#home-link {
	text-decoration: none;
	color: white;
}

#home-link:active {
	text-decoration: underline;
}
