.profile-photo-main-container {
	display: flex;
	justify-content: center;
	border-radius: 20px;
}
.profile-photo-container {
	/*	max-width: 500px;*/
	/*	height: 200px;*/
	/*	background-color: #d2e0fb;*/
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/*	border: 1px solid black;*/
	border-radius: 50%;
}

.profile-photo-container > img {
	max-width: 100%;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
}

/*@media screen and (max-width: 506px) {
	.profile-photo-container > img {
		height: 100px;
	}

	.profile-photo-container {
		height: 150px;
	}
}
*/

.profile-photo-logo-container {
	max-width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid black;
	aspect-ratio: 1 / 1;
}
